@font-face {
  font-family: 'Clinton';
  src: url('../fonts/Clinton/clintonsemibold.woff2') format('woff2'),
    url('../fonts/Clinton/clintonsemibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clinton';
  src: url('../fonts/Clinton/clintonbold.woff2') format('woff2'),
    url('../fonts/Clinton/clintonbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  background-color: #111111;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #ffffff;
  font-family: Clinton, sans-serif;
  font-weight: normal;
  min-height: 100%;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.wrapper {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 15% auto auto auto;
  font-size: 14px;
}

.logo {
  max-width: 300px;
  margin-bottom: 4rem;
}

.title {
  font-size: 1.5rem;
}

.descr {
  font-size: 75%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
